.card{
    text-align: center;
    background:#6CADDC;
    width: 225px;
    height: 150px;
    margin: 5px;
  }
  
  .card-img{
    height:85%;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
  }
  